.transition.transform {
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    -ms-transition: -ms-transform 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: transform 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.pointer {
    cursor: pointer;
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    font-size: .875rem !important;
}

.select2-selection__rendered {
    font-size: .875rem !important;
}

.select2-selection__placeholder {
    color: #A7ABB1 !important;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
}

.dropzones {
    background-color: #EDF0F4;
    border: 1px solid #d3d3d3;
    /* border-radius: 1rem; */
    color: #444;
    cursor: default;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 3px;
    position: relative;

}

.dropzones.dz-max-files-reached .dz-clickable {
    display: none;
}

.dropzone-template.dz-success .dz-success-mark {
    display: block;
}

.dropzone-template.dz-error .dz-error-mark {
    display: block;
}

.dropzone-template .dz-success-mark {
    color: green;
    display: none;
}

.dropzone-template .dz-error-mark {
    color: red;
    display: none;
}

.dropzone-template .name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dropzone-template .dz-thumbnail {
    display: block;
    max-width: max-content;
    margin: 0 auto;
}

.dropzone-template .dz-thumbnail img {
    width: auto;
    max-height: 200px;
}

.pagination {
    flex-wrap: wrap;
}

.widget-container-on-select {
    border: 3px dashed rgb(12, 12, 12) !important;
}

/* #dashboard-widgets .widget-container:empty::after {
    content: 'Drag widgets here';
    height: 145px;
    display: grid;
    place-content: center;
    border: 3px dashed #ddd;
} */

#dashboard-widgets .empty-container::after {
    content: 'Drag widgets here';
    height: 145px;
    display: grid;
    place-content: center;
    border: 3px dashed #ddd;
}

/* #dashboard-widgets .empty-container {
    display: none;
} */

/* @media (min-width: 992px) {

    #dashboard-widgets .empty-container {
        display: block;
    }

    #dashboard-widgets .empty-container::after {
        display: grid;
    }
} */

#dashboard-widgets .widget-container {
    border: 3px dashed transparent;
}

.card .card-header .card-toolbar {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    flex-wrap: wrap;
}

.card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    min-height: 50px;
    padding: 0 1rem;
    background-color: transparent;
    border-bottom: 1px solid #eff2f5;
}

.card .card-header .card-title {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    margin-left: 0;
}

.widget-container .widget {
    margin-bottom: 1rem;
}

.widget-container .widget:last-child {
    margin-bottom: 0;
}

.widget.widget-drag .widget-block {
    display: none;
}

.widget-collapse.collapsed i::before {
    transform: rotate(180deg);
}

.accordion.accordion-icon-toggle .accordion-icon {
    display: flex;
    flex-shrink: 0;
    transition: all .2s ease;
    transform: rotate(90deg);
    align-items: center;
    justify-content: center
}

.accordion.accordion-icon-toggle .accordion-icon i {
    color: #009ef7
}

.accordion.accordion-icon-toggle .accordion-icon .svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill .3s ease;
    fill: #009ef7
}

.accordion.accordion-icon-toggle .accordion-icon .svg-icon svg:hover [fill]:not(.permanent):not(g) {
    transition: fill .3s ease
}

.accordion.accordion-icon-toggle .collapsed .accordion-icon {
    transition: all .2s ease;
    transform: rotate(0)
}

.accordion.accordion-icon-toggle .collapsed .accordion-icon i {
    color: #a1a5b7
}

.accordion.accordion-icon-toggle .collapsed .accordion-icon .svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill .3s ease;
    fill: #a1a5b7
}

.accordion.accordion-icon-toggle .collapsed .accordion-icon .svg-icon svg:hover [fill]:not(.permanent):not(g) {
    transition: fill .3s ease
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: flex !important;
}
